.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

}

button {
    width: 20px;
    height: 20px;

}